.color_preview {
  height: 50vh;
  line-height: 50vh;
  background: gray;
  color: black;
  text-align: center;
  box-shadow: 2px 2px 2px gray;
}

.color_house {
  padding: 1px;
  border: 1px solid black;
  border-radius: 5px;
}
