.color_preview {
  height: 30vh;
  line-height: 30vh;
  background: gray;
  color: black;
  text-align: center;
  box-shadow: 1px 2px 2px gray;
}

.color_house {
  padding: 1px;
  border: 1px solid gray;
  border-radius: 100px;
}
